body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222831;
  color: #EEEEEE;
}

.container-fluid {
  background-color: #222831;
  color: #EEEEEE;
}

.card {
  background-color: #393E46;
  border: none;
}

.card-header {
  background-color: #00ADB5;
  color: #EEEEEE;
}

.btn-light {
  background-color: #00ADB5;
  border: none;
  color: #EEEEEE;
}

.btn-light:hover {
  background-color: #00ADB5;
  opacity: 0.8;
}